@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
}
#cursor {
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50%;
  background-color: #96c11e;
  position: fixed;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 999;
}
#cursorBlur {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #b3e72650;
  position: fixed;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 9;
  filter: blur(50px);
}

#nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 18vh;
  gap: 3vw;
  padding: 3vh 8vw;
  position: fixed;
  z-index: 99;
}

#nav img {
  height: 5vw;
}

#nav ul {
  display: flex;
  gap: 3vw;
}

#nav ul li {
  list-style: none;
}

#nav a {
  text-decoration: none;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 500;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#nav a:hover {
  color: #96c11e;
}

.videoDiv {
  position: fixed;
  z-index: -1;
}
.videoDiv video {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

/* Page1 */
#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 8vw;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  color: #111;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
  -webkit-text-stroke: 1px #96c11e;
}
#page1 h2 {
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 1vh;
  margin-bottom: 4vh;
}
#page1 p {
  font-size: 1.3vw;
  font-weight: 400;
  width: 50%;
}

#page1 .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: -2%;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  border: 2px solid #96c11e;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.circle:hover {
  scale: 0.7;
  background-color: #96c11e;
}

.circle svg {
  height: 35px;
  fill: #fff;
}

/* Page2 */
#page2 {
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  padding: 5vh 0;
}

#scroller {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}

.scroller-div {
  white-space: nowrap;
  display: inline-block;
  animation: scroll 40s linear infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  margin-right: 2vw;
}

#scroller h4:hover {
  color: #96c11e;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 45vh;
  padding: 2vh 5vw;
  margin-top: 5vh;
  position: relative;
  z-index: 10;
}

#about img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

#about-text {
  width: 50%;
  text-align: center;
}

#about-text h3 {
  font-size: 3vw;
  font-weight: 900;
  margin-bottom: 5vh;
}

#about-text p {
  font-size: 1.3vw;
  line-height: 5vh;
  text-align: justify;
}

#card-container {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2vw;
  z-index: 10;
}

.card {
  height: 85%;
  width: 25%;
  border-radius: 1.2vw;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#card1 {
  background-image: url("images/3.png");
}

#card2 {
  background-image: url("images/4.png");
}

#card3 {
  background-image: url("images/5.png");
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #96c11e;
  padding: 5vw 1vw 0;
  opacity: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay h4 {
  text-transform: uppercase;
  font-size: 2.2vw;
  white-space: nowrap;
  color: #000;
  font-weight: 900;
  margin-bottom: 2vh;
}

.overlay p {
  font-size: 1vw;
  color: #000;
  margin-bottom: 3vh;
}

#dot-div {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right top, #96c11e, #29a534);
  padding: 2vh 1vw;
}

#dot-div h4 {
  text-transform: uppercase;
  color: #000;
  font-size: 2vw;
  width: 60%;
  text-align: center;
  font-weight: 900;
}

#dot-div img {
  height: 100%;
  object-fit: cover;
  width: 10%;
}

#dot1 {
  rotate: 180deg;
}

/* Page3 */
#page3 {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  position: relative;
  /* z-index: 10; */
}

.food {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8vw;
}

.img-div {
  height: 100%;
  width: 45%;
  border-radius: 20px;
  overflow: hidden;
}
.img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-text {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5vh;
  margin-top: 15vh;
}

.food-text h3 {
  font-size: 3vw;
  font-weight: 900;
  white-space: nowrap;
  text-transform: uppercase;
}

.food-text p {
  font-size: 1.3vw;
  line-height: 5vh;
  text-align: justify;
}

.food-text button {
  font-size: 1.1vw;
  font-weight: 600;
  padding: 0.8vw 2vw;
  background-color: #000;
  outline: none;
  border: 3px solid #96c11e;
  border-radius: 50px;
  text-transform: uppercase;
}

.page3-text {
  padding: 5vh 0;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5vh;
}

.page3-text > p {
  font-size: 1.8vw;
  font-weight: 900;
  line-height: 7vh;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
}

.page3-text img {
  height: 4vw;
  position: absolute;
}
#col1 {
  top: 12%;
  left: 15%;
}
#col2 {
  bottom: 12%;
  right: 15%;
}

#page4 {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 8vw;
  position: relative;
}

.elem {
  overflow: hidden;
  width: 30%;
  height: 70%;
  border-radius: 30px;
  position: relative;
  z-index: 10;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #96c11e;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 2vw;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 900;
  z-index: 10;
}

.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 0.8s;
  scale: 1.1;
}

.elem:hover h2 {
  color: #fff;
  background-color: transparent;
  transition: all ease-in-out 0.8s;
}

.elem:hover img {
  scale: 1;
}

#page4 h1 {
  font-size: 5vw;
  position: absolute;
  top: -5%;
  -webkit-text-stroke: 1px #fff;
  color: #000;
  font-weight: 900;
}

footer {
  width: 100%;
  height: 40vh;
  background: linear-gradient(to left bottom, #29a534, #96c11e);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vh 8vw;
  position: relative;
  z-index: 10;
}
footer img {
  height: 6vw;
}
footer .link li {
  list-style: none;
}

footer li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8vw;
  line-height: 8vh;
  font-weight: 900;
  color: #000;
  transition: all ease-in-out 0.5s;
}
footer li a:hover {
  color: #fff;
}

.direction p {
  font-size: 1.2vw;
  text-transform: uppercase;
  line-height: 5vh;
  color: #000;
  font-weight: 600;
}

.direction p span {
  font-weight: 800;
  color: #000;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
.direction p span:hover {
  color: #fff;
}
